# Resources required by the sample browser and most samples.
[Essential]

# Resource locations to be added to the default path
[General]
FileSystem=../../../res
FileSystem=../../../res/materials/scripts
FileSystem=../../../res/materials/programs